/* base styles */
body, ul, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #08c;
}
.clear-fix {
  clear: both;
}
.float-right {
  float: right;
}
.fontx2 {
  font-size: 2em;
}
.text-center {
  text-align: center;
}

/* top section start */
#top {
  background-color: black;
  height: 48px;
}
#top ul {
  margin-left: 25vw;
}
#top ul li {
  float: left;
  color: white;
  padding: 0 32px;
  /*line-height: 45px;*/
}
#top ul li span {
  line-height: 48px;
}
#top ul li:hover {
  color: #aaa;
  cursor: pointer;
}

/* mid section start */
/* Welcome section */
.section-one {
  background-image: url(https://support.apple.com/content/dam/edam/applecare/images/en_US/homepage/homepage-hero.image.large_2x.jpg);
  background-size: contain;
}
.content-box {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 19vw;
}
.content-box p span {
  line-height:46px;
}
.content-box h1 {
  font-weight: normal;
  font-size: 3em;
  margin-top: 7vw;
}
.search-bar {
  margin-left: 29%;
  margin-top: 2em;
}
.search-bar input{
  width: 400px;
  height: 27px;
}
#search-icon {
  background-color: white;
  padding: 6px;
  position: absolute;
  margin-left: -30px;
  margin-top: 1px;
}
